.forum-page-container{
    padding-bottom:10%;
}
.left-container{
    height:100vh;
}
.forum-page-title{
    padding-top:5%;
    padding-left:15%;
}

.comment-section{
    padding-left:20%;
    padding-top:5%;
}

.comment-info{
    padding-top:1%;
}

.comment-info .comment-text{
    padding-top:1%;

}

.comment-info button .like{
    padding-top:5%;
    padding-left:5%;
}

.right-container{
    padding-top:10%;
    height:100vh;
}