<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/club.css" rel="stylesheet">
</head>
<body>

<div class="title-header">
    <h1>Clubs</h1>
</div>

<div class="club-container">
    <div class="club">
        <div class="card" style="width: 20rem;">
            <img class="card-img" src="images/camera.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Top Movies</h4>
                <p class="card-text">This club talks about blah blah blah blah</p>
                <a href="#/clubProfile" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>