
<link href=".css/forum.css" rel="stylesheet">

<!--beginning of forum page-->

<div class="forum-container col-xs-12 col-md-12">
    <h2>Forum</h2>
    <button type="button"  class="create-forum btn btn-default">+ Create</button>
    <div class="listed-forum col-xs-10 col-md-10">
        <div class="row">
            <ul class="nav-tabs col-xs-4 col-md-4">
                <li class="active"><h3>Books</h3></li>
                <li><h3>TV</h3></li>
                <li><h3>Movies</h3></li>
            </ul>
            <!--beginning of forum-topics. Clickable and takes u to forum page.-->
            <a href="#/forum-page" >
                <div class="forum-topics col-xs-12 col-md-12">
                    <div class="forum-title">
                        <h3>Is 42 the answer to the universe?</h3>
                        <h5>Created by:</h5>
                    </div>
                    <div class="forum-info">
                        The question to end all questions.
                    </div>
                </div>
            </a> <!--end of forum-topics-->
            <div class="forum-topics  col-xs-12 col-md-12">

                <div class="forum-title">
                    <h3>Is 42 the answer to the universe?</h3>
                    <h5>Created by:</h5>
                </div>
                <div class="forum-info">
                    The question to end all questions.
                </div>
            </div> <!--end of forum-topics-->
        </div>
        <!--Pagination tabs-->
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    ...
                </ul>
            </nav>
        </div>
    </div> <!--end of listed forum-->


</div>



