<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/forum-page.css" rel="stylesheet">
</head>
<body>
<div class="forum-page-container col-xs-12 col-md-12">
    <div class="row">
        <div class="left-container col-xs-8 col-md-8">
            <div class="row">
                <div class="forum-page-title col-xs-10 col-md-10">
                    <h1>Is 42 the answer to the universe?</h1>
                    <h4>Created by:</h4>
                </div>
            </div>
            <div class="row">
                <div class="comment-section col-xs-10 col-md-10">
                    <div class="profile-img">
                       <a href=""> <img class="col-xs-2 col-md-2" src="images/camera.jpg"></a>
                    </div>
                    <div class="comment-info col-xs-10 col-md-10">
                        <div class="comment-user col-xs-10 col-md-10">
                           <a href="">Bob</a>
                        </div>
                        <div class="comment-text col-xs-10 col-md-10">
                            <p>Blah blah womp womp</p>
                        </div>
                    </div>
                    <!--<button class="like">-->
                        <!--<3-->
                    <!--</button>-->
                </div>

            </div>
        </div>  <!--End of right container-->
        <div class="right-container col-xs-4 col-md-4">
            <div class="create-post">

                <textarea rows="4" cols="50">

                </textarea>
                <button class="submit-post btn btn-default">
                    Submit
                </button>
            </div>

        </div>
    </div> <!--end of row-->
</div>   <!--end of forum-page-container-->

</body>
</html>


