<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link href="css/landing.css" rel="stylesheet">

</head>



<body>

<div class="landing-container">
	<!--Image-->
	<div class="landing-image ">
		<img src="images/bg.jpg">
	</div>

	<!--Cards-->
<div class="this-week-container">
	<div class="this-week-title">
		<h1>This Week</h1>
	</div>
	<div class="this-week">

		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="images/camera.jpg" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">Top Books</h4>
				<p class="card-text">Check out this weeks top books</p>
				<a href="#" class="btn btn-primary">View</a>
			</div>
		</div>
	</div>
	<div class="this-week">
		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="images/camera.jpg" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">Top TV</h4>
				<p class="card-text">Check out this weeks top TV</p>
				<a href="#" class="btn btn-primary">View</a>
			</div>
		</div>
	</div>

	<div class="this-week">

		<div class="card" style="width: 20rem;">
			<img class="card-img-top" src="images/camera.jpg" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">Top Movies</h4>
				<p class="card-text">Check out this weeks top movies</p>
				<a href="#" class="btn btn-primary">View</a>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>



