<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>

<div class="login-container">
    <div class="login">
        <form class="form-horizontal" ng-submit="login()"">
            <div class="login-title">
                <h2>sign-in</h2>
                <a ng-href="#/register">Not a member yet?</a>
            </div>
            <div class="login-input">
                <div class="username-input">
                    <h3>username</h3>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon1" ng-model="user.username">
                </div>
                <div class="password-input">
                    <h3>password</h3>
                    <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1" ng-model="user.password">
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>


